#logo { /* easy */
	font-family: 'Questrial', sans-serif;
	font-size: 3rem;
	color:#ffffff;
}

#logo span {
	font-family: 'Kalam', cursive;
	font-size: 110%;
	color:#fbb03b;
}

h1, h2, h3, h4, h5, h6, p{
		color: #F5F5F5;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #292929;
}

#class-header {
	width: 100%;
	background-color: #292929;
	top: 0;
	left: 0;
	z-index: 99999;
}

#class-header hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	margin-bottom: -8px;
}

.review{
	padding: 20px;
	margin: 1rem auto;
}

.review span{
	font-weight: bold;
}



#new_msg {
	margin-top: auto;
}

#new_msg h2{
	color:#fbb03b;
	font-weight: bold;
	margin-bottom: 1rem;
}
#new_msg .btn-outline-warning{
	margin: 0.25rem;
}

#new_msg .form-group{
	color:#fbb03b;
	font-weight: bold;
	margin: 0.75rem 0;
}

#new_msg .form-control{
	font-size: 1rem;
	margin: 0.5rem 0;
	color: #F5F5F5;
	border-color: #292929;
	background-color: #1F1F1F;
}

#new_msg .form-control:focus{
	border-color: rgba(240, 240, 240, 0.7);
	outline-color: white;
}

#new_msg .btn-outline-warning{
	margin: 0.35rem;
}

.cancel-btn{
	background-color: transparent;
	color: #818181;
	border: none;
}
#default_sjt{
	color: 495057 !important;
}
