h1, h2, h3, h4, h5, h6, p{
		color: #F5F5F5;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #292929;
}


* {
    outline: none;
}

.prof_ratinng{
	text-decoration: underline;
	color: #fbb03b;
}

#logo { /* easy */
	font-family: STHeitiTC-Medium;
	font-size: 3rem;
	color:#ffffff;
}

#logo span {
	font-family: Noteworthy-Bold;
	font-size: 110%;
	color: #fbb03b;
}

#logo_phone { /* easy */
	font-family: STHeitiTC-Medium;
	font-size: 2rem;
	color: #ffffff;
}

#logo_phone span {
	font-family: Noteworthy-Bold;
	font-size: 110%;
	color:#fbb03b;
}

#user {
	border-radius: .5rem;
}



.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#suggestions{
	position: absolute;
	width: 80%;
	border-radius: 1rem;
	background: #1F1F1F;
}
#search_bar{
	background-color: rgba(0, 0, 0, 0);
	color: #c2c2c2 !important;
	margin: auto auto;
	border: 0;
	font-size: 1rem;
}

#text_search{
	background: rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
	color: #c2c2c2 !important;
	margin: auto auto;
	border: 0;
	font-size: 1rem;
}

.input-group {
    width: 97% !important;
}

#search_bar_form{
	width: 100%;
	margin: auto auto !important;
}
#sug_list{
	width: 105%;
}
#suggestions hr{
	border-color: #c2c2c2 !important;
}

.author_spot{
	min-width: 1rem;
	min-height: 1rem;
}

.dropdown-toggle:after {
	content: none
}

#suggestions p{
	color: rgba(194, 194, 194, 0.8);
}

input[type="text"]::placeholder{
	color: #8E8E8E;
}

input, button{
    color: #525252;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.text_fucntion_btn:hover{
	color: white;
}



#class-header {
	width: 100%;
	position: fixed;
	background-color: #292929;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 0.2s;
}

#row1 {
	max-width: 1080px;
	width: 100%;
}

hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	margin-bottom: -8px;
}

#row2{
	font-family: 'Poppins', sans-serif;
}

#row2 h4{
	color: rgba(235,235,235, .5);
}

#row2 p{
	font-size: 1rem;
}

#row2 .d-flex{
	width: 100%;
}

#row2 .id_scrolled{
	font-size: 5rem;
}

.spacer{
	width: 3rem
}



#review_button{
	width: 80%;
	max-width: 16rem;
	outline-color: #E08F4C;
	background-color: #FBB03B;
	border-color: #E08F4C;
}

#review_button:focus{
	outline-color: #E08F4C;
	outline: 0pt;
}

#row3, #row3 .btn {
	color: rgba(235,235,235, .7);
}


#row3 .btn:hover {
	color: white;
}

#row3flex {
	width: 100%
}


.review{
	background: #1F1F1F;
	border-radius: 2rem;
}

.review span{
	font-weight: bold;
}

.review button:focus{
	color: white;
}

.voted{
	color: white;
}


#myModal{
	top: 15%;
}

.modal-content{
	background-color: #292929;
	border-radius: 1.5rem;
}

@media screen and (max-width: 600px) {
	#review_button{
		margin: auto auto;
	}

	#logo{
		display: none;
	}

	#row2 h1{
		font-weight: bold;
		font-size: 3rem;
	}

	#row2 h2{
		font-size: 1rem;
	}

	#row2 h3{
		font-size: 1rem;
	}

	#row2 h4{
		font-size: 0.5rem;
	}

	.review{
		font-size: .8rem;
		padding: 0.25rem 1rem 0.5rem;
		margin: 0.5rem auto;
	}

}


@media screen and (min-width: 601px) {
	#row2 h1{
		font-weight: bold;
		font-size: 6rem;
	}

	#row2 h2{
		font-size: 2rem;
	}

	#row2 h3{
		font-size: 2rem;
	}

	#row2 h4{
		font-size: 1rem;
	}

	#review_button{
		margin: auto 0;
	}

	#suggestions{
		margin-top: 1.5rem;
	}
	#login_check2{
		margin-top: 1.5rem;
	}
	#login_check3{
		margin-top: 1.5rem;
	}
	#user{
		margin-top: 1.5rem;
	}

	#logo_phone{
		display: none;
	}
	#text_search{
		width: 25rem;
	}

	.review{
		padding: 0.5rem 2rem 1rem;
		margin: 1rem auto;
	}
}



.scrolled{
	transition-duration: .3s;
	transition-timing-function: ease;
}

.selected {
	background-color: #292929;
}

.selected p{
	color: white !important;
}

#reviews_ul .dropdown-toggle {
	padding-top: 0;
	height: 0;
}
/* #reviews_ul{
	padding-left: 0
} */
