h1, h2, h3, h4, h5, h6, p{
		color: #F5F5F5;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #292929;
}


* {
    outline: none;
}

#logo { /* easy */
	font-family: STHeitiTC-Medium;
	font-size: 3rem;
	color:#ffffff;
}



#logo span {
	font-family: Noteworthy-Bold;
	font-size: 110%;
	color:#fbb03b;
}

#logo_phone { /* easy */
	font-family: STHeitiTC-Medium;
	font-size: 2rem;
	color:#ffffff;
}

#logo_phone span {
	font-family: Noteworthy-Bold;
	font-size: 110%;
	color:#fbb03b;
}

#user {
	border-radius: .5rem;
}



.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#suggestions{
	margin: 0 auto;
	width: 80%;
	border-radius: 1rem;
	background: rgba(0, 0, 0, 0.3);
}
#search_bar{
	background-color: rgba(0, 0, 0, 0);
	color: #c2c2c2 !important;
	margin: auto auto;
	border: 0;
	font-size: 1rem;
}

#text_search{
	background: rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
	color: #c2c2c2 !important;
	margin: auto auto;
	border: 0;
	font-size: 1rem;
}

.input-group {
    width: 97% !important;
}

#search_bar_form{
	width: 100%;
	margin: auto auto !important;
}
#sug_list{
	width: 105%;
}
#suggestions hr{
	border-color: #c2c2c2 !important;
}

input[type="text"]::placeholder{
	color: #8E8E8E;
}

input, button
{
    color: #525252;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}





/* start */
/* .tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}


#cover
{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: relative;
    padding: 1px;
    background-color: #F5F5F5;
    border-radius: 20px;
    box-shadow: 0 10px 40px #EBEBEB, 0 0 0 20px #8E8E8E;
    transform: scale(0.6);
}


input[type="text"]::placeholder{
    color: #8E8E8E;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

#submit_btn
{
    position: relative;
    display: block;
    width: 84px;
    height: 60px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 40px;
    height: 40px;
    margin-top: 0;
    border-width: 10px;
    border: 10px solid #FBB03B;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 35px;
    left: 17px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 12px;
    background-color: #FBB03B;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #FBB03B;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #FBB03B;
} */

/* end */


#class-header {
	width: 100%;
	position: fixed;
	background-color: #292929;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 0.2s;
}

#row1 {
	max-width: 1080px;
	width: 100%;
}

hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	margin-bottom: -8px;
}
ul {
	margin-top: 400px;
}

#row2{
	font-family: 'Poppins', sans-serif;
}

#row2 h1{
	font-weight: bold;
	font-size: 7rem;
}

#row2 h2{
	font-size: 2.5rem;
}
#row2 p{
	font-size: 1rem;
}


#row2 h4{
	font-size: 1.2rem;
	color: rgba(235,235,235, .5);
}

#row2 .id_scrolled{
	font-size: 5rem;
}

#review_button{
	margin: auto;
	color: #292929 !important;
	outline-color: #E08F4C;
	background-color: #FBB03B;
	border-color: #E08F4C;
}

#review_button:focus{
	outline-color: #E08F4C;
	outline: 0pt;
}

/* #row3 .btn:o{
	color:292929;
	background-color: #FBB03B;
	border-color: #E08F4C;
} */

#row4, #row4 .btn {
	color: rgba(235,235,235, .7);
}


#row4 .btn:hover {
	color: white;
}


.review{
	background: #1F1F1F;
	padding: 20px;
	border-radius: 16px;
	margin: 1rem auto;
}

.review span{
	font-weight: bold;
}

.review button:focus{
	color: white;
}

.voted{
	color: white;
}

.modal-dialog{
	height: 65%;
}

.modal-content{
	height: 65%;
	background-color: #292929;
}
@media screen and (max-width: 600px) {
	#logo{
		display: none;
	}
}


@media screen and (min-width: 601px) {
	#logo_phone{
		display: none;
	}
	#text_search{
		width: 25rem;
	}
}



.scrolled{
	transition-duration: .3s;
	transition-timing-function: ease;
}
