#group_2 {
	top: 228.40815734863px;
	left: 729px;
	width: 462.13610839844px;
	height: 262px;
}

 h1 { /* easy */
	/* top: 59px;
	left: 0px;
	width: 339px;
	height: 178px; */
	font-family: STHeitiTC-Medium;
	font-size: 9.25rem;
	/* text-align: center; */
	color:#ffffff;
}


#a {
	/* top: 0px;
	left: 338px;
	width: 129px;
	height: 295px; */
	font-family: Noteworthy-Bold;
	font-size: 10.25rem;
	/* text-align: center; */
	color:#fbb03b;
}

#slogan {
	font-size: 1.5rem;
	color:#F5F5F5;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #292929
}

*
{
    outline: none;
}

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #525252;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

/* #buttons{
  height: 40px;
} */

#header
{
    padding-top: 10%;

}

#cover
{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* min-width: 800px; */
    position: relative;
    padding: 5px;
    /* margin: -83px auto 0 auto; */
    background-color: #F5F5F5;
    border-radius: 20px;
    box-shadow: 0 10px 40px #EBEBEB, 0 0 0 20px #8E8E8E;
    transform: scale(0.6);
}

form
{
    height: 96px;
}

input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 3rem;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #8E8E8E;
    /* color: FBB03B #; */

}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

#submit_btn
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 70px;
    height: 70px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #FBB03B;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #FBB03B;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #FBB03B;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #FBB03B;
}
