.modal-dialog{
	height: 65%;
}

.modal-content{
	height: 65%;
	background-color: #292929;
}





#a {
	font-family: Noteworthy-Bold;
	font-size: 110%;
	color: #fbb03b;
}

#slogan {
	font-size: 1rem;
	color:#F5F5F5;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #292929
}

*{
	outline: none;
}

input, button
{
	color: #525252;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
}



#header{
	padding-top: 0%;
}

#search_bar{
	background-color: rgba(0, 0, 0, 0);
	color: #c2c2c2 !important;
	margin: 0;
	border: 0;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#suggestions{
	margin: 0 auto;
	width: auto;
	border-radius: 1rem;
	background: rgba(0, 0, 0, 0.3);
}

h1 {
	font-family: STHeitiTC-Medium;
	color:#ffffff;
}

.suggestion p{
	color: rgba(194, 194, 194, 0.3);
}

#suggestions hr{
	border-color: #c2c2c2 !important;
}

.selected {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 1rem;
}

.selected p{
	color: rgba(194, 194, 194, 0.8) !important;
}

@media screen and (min-width: 601px) {
	h1{
		font-size: 8rem;
	}

	#suggestions{
		width: 40rem;
		font-size: 2.5rem;
	}

	#search_bar{
		width: 32rem;
		font-size: 2rem;
	}

	#submit_phone{
		display: none;
	}

	#sug_list{
		width: 115%;

	}

	.suggestion p{
		font-size: 1.5rem;
	}
	.suggestion small{
		font-size: 1rem;
	}
}

@media screen and (max-width: 600px) {
	h1{
		font-size: 6rem;
	}

	#user{
		margin-bottom: 5rem;
	}

	#submit_phone .fa-search{

		color: #fbb03b;
	}

	#suggestions{
		width: 22rem;
		font-size: 1.5rem;
	}

	#search_bar{
		width: 18rem;
		font-size: 1.5rem;
	}

	#s-cover{
		display: none;
	}

	#sug_list{
		width: 105%;

	}

	.suggestion p{
		font-size: 1rem;
	}
	.suggestion small{
		font-size: .7rem;
	}
}


input[type="text"]::placeholder{
	color: #8E8E8E;
}

#s-cover{
	width: 1px;
	padding-left: 35px;
}

#submit_btn
{
	position: relative;
	display: block;
	width: 84px;
	height: 96px;
	cursor: pointer;
}

#s-circle
{
	position: relative;
	top: -8px;
	left: 0;
	width: 40px;
	height: 40px;
	margin-top: 0;
	border-width: 10px;
	border: 10px solid #FBB03B;
	background-color: transparent;
	border-radius: 50%;
	transition: 0.5s ease all;
}

button span
{
	position: absolute;
	top: 65px;
	left: 35px;
	display: block;
	width: 10px;
	height: 8px;
	background-color: transparent;
	border-radius: 10px;
	transform: rotateZ(52deg);
	transition: 0.5s ease all;
}

button span:before, button span:after
{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 12px;
	background-color: #FBB03B;
	border-radius: 10px;
	transform: rotateZ(0);
	transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
	top: 0px;
	width: 69px;
	height: 12px;
	border-width: 0;
	background-color: #FBB03B;
	border-radius: 20px;
}

#s-cover:hover span
{
	top: 57%; /* arrow head hight */
	left: 56px;
	width: 25px;
	margin-top: -9px;
	transform: rotateZ(0);
}

#s-cover:hover button span:before
{
	bottom: 11px;
	transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
	bottom: -11px;
	transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
	right: -6px;
	width: 40px;
	background-color: #FBB03B;
}


.dropbtn
{
	background-color: #8E8E8E;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content
{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a
{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

#user {
	min-width: 12rem;
}

.dropdown-content a:hover {
	background-color: #FBB03B;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #FBB03B;
}
