#logo{ /* easy */

	font-family: STHeitiTC-Medium;
	font-size: 3rem;
	color:#ffffff;
}



#logo span {
	font-family: Noteworthy-Bold;
	font-size: 110%;
	color:#fbb03b;
}

h1, h2, h3, h4, h5, h6, p, label{
		color: #F5F5F5;
}



body {
  font-family: 'Poppins', sans-serif;
  background-color: #292929;
	padding-bottom: 100px;
}

*{
    outline: none;
}


button{
    color: #525252;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

input{
    color: #525252;
    padding: .375rem .75rem;
    margin: 0;
		width: 100%;
		height: calc(2.25rem + 2px);
		border: 0;
		background-color: #1F1F1F;
}


input[type="text"]{
    width: 100%;
		padding-top: auto;
		padding-left: 5px;
    height: 60;
    line-height: 1;
}

input[type="text"]::placeholder{
    color: #8E8E8E;
}


#class-header {
	width: 100%;
	position: fixed;
	background-color: #292929;
	top: 0;
	left: 0;
	z-index: 99999;
}

#row1 {
	max-width: 1080px;
	width: 100%;
}

hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	margin-bottom: -8px;
}

#row2{
	font-family: 'Poppins', sans-serif;
	margin-left: 3rem;
}

#row2 h1{
	font-weight: bold;
	font-size: 4rem;
}

#row2 p{
	margin-top: 3rem;
	margin-left: 1rem;
	font-size: 2.5rem;
}

#new_review {
	margin-top: 18rem;
}

#new_review h2{
	color:#fbb03b;
	font-weight: bold;
	margin-bottom: 1rem;
}
#new_review .btn-outline-warning{
	margin: 0.25rem;
}

#new_review .form-group{
	color:#fbb03b;
	font-weight: bold;
}

#new_review .form-control{
	font-size: 1rem;
	color: #F5F5F5;
	border-color: #292929;
	background-color: #1F1F1F;
}

#new_review .form-control:focus{
	border-color: rgba(240, 240, 240, 0.7);
	outline-color: white;
}

#new_review_grade{
	color:#525252;
	border-color: #292929;
	background-color: #1F1F1F;
}

#new_review .btn-outline-warning{
	margin: 0.35rem;
}

#new_review_rating{
	font-size: 2rem;
}


#professor_input_div{
	position: absolute;
	z-index: 1;
}
