#logo { /* easy */
	margin-top: 3%;
	font-family: STHeitiTC-Medium;
	color:#ffffff;
}

#logo span {
	font-family: Noteworthy-Bold;
	font-size: 110%;
	color:#fbb03b;
}

h1, h2, h3, h4, h5, h6, p{
		color: #F5F5F5;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #292929;
}

#class-header {
	width: 100%;
	position: fixed;
	background-color: #292929;
	top: 0;
	left: 0;
	z-index: 99999;
}

#class-header hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	margin-bottom: -8px;
}


#signup_form_div .form-control{
	font-size: 1rem;
	color: #F5F5F5;
	border-color: #292929;
	background-color: #1F1F1F;
}

#signup_form_div hr{
	height: 1px;
	background-color: #EBEBEB;
	border: none;
}

#log_in p{
	color: rgba(235,235,235,0.6);
}

#log_in a {
	color: rgba(235,235,235,0.6);
	font-weight: bold;
}

#emailHelp, #pwdHelp{
	color: red!important;
}

#signup_form_div .invalid_field{
	border-color: red!important;;
}

@media screen and (max-width: 600px) {
	#logo { /* easy */
		margin-top: 15%;
		font-size: 3rem;
	}
	#signup_form_div {
		margin-top: 12rem;
	}


}

@media screen and (min-width: 601px) {
	#logo { /* easy */
		margin-top: 3%;
		font-size: 6.5rem;
	}

	#signup_form_div {
		margin-top: 16rem;
		width: 70%;
	}
}
