<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="StyleSheet" href="{{ url_for('static', filename='contact.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6b9101bbf3.js" crossorigin="anonymous"></script>
  <title>Contact - easyA</title>
</head>
<body>
  <!-- class="fixed-top" -->
  <div id="class-header" >
    <div class="d-flex justify-content-center">
      <a href="{{ url_for('index') }}" id="logo">easy<span>A</span></a>
    </div>
    <div class="container review">
      <p class="review-professor"><span>Professor:</span>  {{ post['professor'] }}</p>
      <p class="review-body">{{ post['text'] }}</p>
    </div>
    <hr class="d-none d-md-block">
  </div>

  <div id="new_msg" class="container">
    <form action="{{ url_for('post_contact') }}" method="POST">
      <input name="post_ID" type="hidden" value="{{ post_ID }}"></input>
      <div class="form-row">
        <div class="col-6">
          <input name = "first_name" type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="col-6">
          <input name="last_name" type="text" class="form-control" placeholder="Last Name">
        </div>
      </div>
      <input name="subject" type="text" class="form-control" placeholder="Subject">
      <div class="form-group">
        <textarea name="message" required class="form-control" id="new_report_body" placeholder="What would you like to say?*" rows="10"></textarea>
        <small id="emailHelp" class="form-text text-muted pl-2">*required</small>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" name="button" class="cancel-btn m-2" onclick="window.location.href = 'course/{{ post['course_id'] }}';">Go back</button>
        <button type="submit" class="btn btn-warning m-2">Send</button>
      </div>
    </form>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
