<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="StyleSheet" href="{{ url_for('static', filename='course.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b9101bbf3.js" crossorigin="anonymous"></script>
    <title>easyA - {{ course_id }}</title>
</head>

<body>
    <!-- class="fixed-top" -->
    <div id="class-header">
        <div class="container mb-0">
            <div id="row1" class="row  my-3">
                <div class="col-3">
                    <div class="container text-center">
                        <a href="{{ url_for('index') }}" id="logo">easy<span>A</span></a>
                    </div>
                </div>
                <div class="col-6">
                    <div id="cover">
                        <form method="get" action="#" id="search_bar_form" onsubmit="return validateSearch()">
                            <div class="tb">
                                <div class="td">
                                    <input id="search_bar" type="text" placeholder="Search" required>
                                </div>
                                <div class="td" id="s-cover">
                                    <button id=submit_btn type="submit">
                                        <div id="s-circle"></div>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-3">
                    {% if 'email' in session %}
                    <input id="userID" type="text" name="" hidden value="user">
                    <div class="btn-group">
                        <button id="user" type="button" class="btn btn-outline-warning mx-2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i>
                            {{ session['email'] }}</button>
                        <div class="dropdown-menu pull-right">
                            <a class="dropdown-item" href="{{ url_for('reset_pwd') }}">Password Change</a>
                            <a class="dropdown-item" onclick="window.location.href = '{{ url_for('signout') }}';">Log
                                Out</a>
                        </div>
                    </div>
                    {% else %}
                    <input id="userID" type="text" name="" hidden value="guest">
                    <button id="login_check2" type="submit" class="btn btn-outline-light mx-2" data-toggle="modal" data-target="#myModal">Log in</button>
                    <button id="login_check3" onclick="window.location.href = '{{ url_for('signup') }}';" type="button"
                        class="btn btn-outline-warning mx-2">Sign up</button>
                    {% endif %}

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" style="height: 65%;">
                          <div class="modal-content" style="height: 65%; background-color: #292929;">
                            <div class="modal-header">
                                <h5 class="modal-title" style="color:white">Login</h5>
                              </div>
                              <div class="modal-body">
                                  <form action="{{ url_for('login') }}" method="POST" >
                                      <small id="emailHelp" class="pl-2">{{ errorMessage }}</small>
                                    <div class="form-group mb-4">
                                      <input name="u_email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                      <input name="u_password" type="password" class="form-control" id="pwd" placeholder="Password">
                                      <small id="pwdHelp" class="form-text text-muted pl-2"></small>
                                      <small class="form-text text-muted pl-2 text-right"><a href="/forgot_pwd">Forgot password?</a></small>
                                    </div>
                                    <div id="log_in" class="d-flex justify-content-center text-center">
                                      <p style="color:white">Do not have an account? <a href="/signup">Sign Up!</a></p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                      <button type="submit" class="btn btn-warning">Log in</button>
                                    </div>
                                  </form>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='row2' class="row">
                <div class="col-6">
                    <div class="container text-right">
                        <h1 id="name">{{ course_id }}</h1>
                    </div>
                </div>
                <div class="col-6 align-items-end m-0">
                    <h2 class="align-bottom">{{ course_name }}</h2>
                    <p class="align-bottom">{{ description }}</p>
                </div>
            </div>
            <div id='row3' class="row">
                <div class="col-6 text-right">
                    <h3>
                        {%for i in range(0, rating)%}
                        <i class="fas fa-star"></i>
                        {%endfor%}
                        {%for i in range(0, (5 - rating))%}
                        <i class="far fa-star"></i>
                        {%endfor%}
                    </h3>
                    <h4>Based on {{ rating_count }} ratings.</h4>
                </div>
                {% if 'email' in session %}
                        <!-- You show the logged in user button -->
                        <div class="col-6">
                            <button id="review_button" onclick="window.location.href = '/course/{{course_id}}/new_review';"
                                type="button" class="btn btn-light">Write a review</button>
                        </div>
                {% else %}
                        <!-- You show the unlogged in user button -->
                        <!-- The popup log in should be here -->
                        <div class="col-6">
                            <button id="review_button" type="submit" class="btn btn-light" data-toggle="modal" data-target="#myModal">Write a review</button>
                        </div>
                {% endif %}
            </div>
            <div id='row4' class="row">
                <div class="col-6">
                    <p class="align-bottom">Student Reviews</p>
                </div>
                <div class="col-6 text-right">
                    <div class="btn-group">
                        <button type="button" class="border-0 btn btn-outline-warning dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by</button>
                        <div id="sort_options" class="dropdown-menu bg-warning text-light">
                          <form id="sort_form" class="d-none" action="/course/{{course_id}}" method="POST">
                              <input id="sort_input" name="sort" type="hidden" value=""></input>
                          </form>
                          <small>Chronological</small>
                          <button id="chronological_new" type="button" class="dropdown-item sort_btn text-light">Newest Posts</button>
                          <button id="chronological_old" type="button" class="dropdown-item sort_btn text-light">Oldest Posts</button>
                          <div class="dropdown-divider"></div>
                          <small>Upvotes</small>
                          <button id="most_upvotes" type="button" class="dropdown-item sort_btn text-light">Most Upvotes</button>
                          <button id="least_upvotes" type="button" class="dropdown-item sort_btn text-light">Least Upvotes</button>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="border-0 btn btn-outline-warning dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Professor</button>
                        <div class="dropdown-menu bg-warning text-light">
                            {% for professor in current_profs %}
                            <input class="prof_check filter_check" type="checkbox" value="{{ professor }}"> {{ professor }}</input>
                            <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="border-0 btn btn-outline-warning dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tags</button>
                        <div class="dropdown-menu bg-warning text-light">
                            {% for tag in current_tags %}
                                <input class="tag_check filter_check" type="checkbox" value="{{ tag }}"> {{ tag }}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <ul>
        {%for post in user_posts%}
        {%if not post['text'] or post['text'].isspace()%}
        <li class="review_li">
            <div class="container review d-flex">
                <div class="row">
                    <div class="col-6">
                        <p class="review-professor"><span>Author:</span> You</p>
                    </div>
                    <div class="col-6 text-right">
                        <p class="review-date text-right"><span>{{ post['posted_date'] }}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text">
                            {%for i in range(0, post['rating'])%}
                            <i class="fas fa-star"></i>
                            {%endfor%}
                            {%for i in range(0, (5 - post['rating']))%}
                            <i class="far fa-star"></i>
                            {%endfor%}
                        </p>
                    </div>
                    <div class="col-6 text-right">
                        <form action="{{ url_for('delete_review') }}" method="POST">
                            <input name="post_ID" type="hidden" value="{{ post['post_ID'] }}"></input>
                            <button type="submit" class="btn btn-warning">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
        {%endif%}
        {%endfor%}
        {%for post in posts%}
        <li class="review_li">
            <div class="container review">
                <div class="d-flex justify-content-end">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right bg-warning">
                            <!-- <button class="dropdown-item" type="button">Share</button> -->
                            <!-- We have not implemented sharing posts yet (sprint 3) -->
                            {%if post in user_posts%}
                            <form action="{{ url_for('delete_review') }}" method="POST">
                                <input name="post_ID" type="hidden" value="{{ post['post_ID'] }}"></input>
                                <button type="submit" class="dropdown-item">Delete</button>
                            </form>
                            {%else%}
                                {% if 'email' in session %}
                                <!-- You show the logged in user button -->
                                <form action="{{ url_for('contact') }}" onsubmit="return validateRequest()" method="POST">
                                    <input name="post_ID" type="hidden" value="{{ post['post_ID'] }}"></input>
                                    <button type="submit" class="dropdown-item text-light">Contact</button>
                                </form>
                                <form action="{{ url_for('report') }}" onsubmit="return validateRequest()" method="POST" >
                                    <input name="post_ID" type="hidden" value="{{ post['post_ID'] }}"></input>
                                    <button type="submit" class="dropdown-item text-light">Report</button>
                                </form>
                                {% else %}
                                <!-- You show the unlogged in user button -->
                                <!-- The popup log in should be here -->
                                    <input name="post_ID" type="hidden" value="{{ post['post_ID'] }}"></input>
                                    <button type="submit" class="dropdown-item text-light" data-toggle="modal" data-target="#myModal">Contact</button>

                                    <input name="post_ID" type="hidden" value="{{ post['post_ID'] }}"></input>
                                    <button type="submit" class="dropdown-item text-light" data-toggle="modal" data-target="#myModal">Report</button>
                                {% endif %}
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        {% if post in user_posts %}
                        <p class="review-professor"><span>Your post</span></p>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="review-professor"><span>Professor:</span> {{ post['professor'] }}</p>
                    </div>
                    <div class="col text-right">
                        <p class="review-date text-right"><span>{{ post['posted_date'] }}</span></p>
                    </div>
                </div>
                <p class="review-tags"> <span>Attendance:</span> {{ post['attendance'] }} <span>Textbook:</span>
                    {{ post['textbook'] }} <span>Grade:</span> {{ post['grade'] }}

                    {% if post['semester_taken'] %}
                    <span>Semester:</span> {{ post['semester_taken'] }}</p>
                    {% endif %}

                <p class="review-body">{{ post['text'] }}</p>

                <div class="row">
                    <div class="col-6">
                        {% if 'email' in session %}
                        <!-- Upvoting/Downvoting is here -->
                        <form action="{{ url_for('do_upvote') }}" method="POST" >
                            <input name="post_ID" type="hidden" value="{{ post['post_ID'] }}"></input>
                            {% if post['post_ID'] in upvoted %}
                            <!-- Show bright upvotes-->
                            <button type="submit" name="button" class="review-votes upvote mx-2"><i
                                class="fas fa-arrow-up"></i>{{ post['upvotes'] }}</button>
                            {% else %}
                            <!-- Default color-->
                            <button type="submit" name="button" class="review-votes upvote mx-2"><i
                                class="fas fa-arrow-up"></i>{{ post['upvotes'] }}</button>
                            {% endif %}
                        </form>
                        <form action="{{ url_for('do_downvote') }}" method="POST" >
                            <input name="post_ID" type="hidden" value="{{ post['post_ID'] }}"></input>
                            {% if post['post_ID'] in downvoted %}
                            <!-- Show bright downvotes-->
                            <button type="submit" name="button" class="review-votes downvote mx-2"><i
                                class="fas fa-arrow-down"></i>{{ post['downvotes'] }}</button>
                            {% else %}
                            <!-- Default color-->
                            <button type="submit" name="button" class="review-votes downvote mx-2"><i
                                class="fas fa-arrow-down"></i>{{ post['downvotes'] }}</button>
                            {% endif %}
                        </form>
                        <!-- Upvoting/Downvoting ends-->
                        {% else %}
                            <button type="button" name="button" class="review-votes upvote mx-2"><i
                                class="fas fa-arrow-up" data-toggle="modal" data-target="#myModal"></i>{{ post['upvotes'] }}</button>
                            <button type="button" name="button" class="review-votes downvote mx-2"><i
                                class="fas fa-arrow-down"  data-toggle="modal" data-target="#myModal"></i>{{ post['downvotes'] }}</button>
                        {% endif %}
                    </div>
                    <div class="col-6 text-right">

                        <p class="text-right">
                            {%for i in range(0, post['rating'])%}
                            <i class="fas fa-star"></i>
                            {%endfor%}
                            {%for i in range(0, (5 - post['rating']))%}
                            <i class="far fa-star"></i>
                            {%endfor%}
                        </p>
                    </div>
                </div>
                <!-- Tags Example-->
                <div class="container tags d-flex flex-wrap justify-content-around">
                    {% for tag in post['tags'].split(",") %}
                    {% if tag %}
                    <p class="text-warning review_tag">{{ tag }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
        {%endfor%}
    </ul>
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='course.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
