<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="StyleSheet" href="{{ url_for('static', filename='course.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6b9101bbf3.js" crossorigin="anonymous"></script>
  <title>easyA - {{ course_id }}</title>
</head>
<body>
  <!-- class="fixed-top" -->
  <div id="class-header" >
    <div class="container mb-0" >
      <div id="row1" class="row  my-3">
        <div class="col-3">
          <div class="container text-center">
            <a href="{{ url_for('index') }}" id="logo">easy<span>A</span></a>
          </div>
        </div>
        <div class="col-6">
          <div id="cover">
            <form method="get" action="{{ url_for('course') }}">
              <div class="tb">
                <div class="td"><input type="text" placeholder="{{ course_id }}" required></div>
                <div class="td" id="s-cover">
                  <button id=submit_btn type="submit">
                    <div id="s-circle"></div>
                    <span></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-3">
          <div id="buttons" class="d-flex log_in justify-content-end pt-2 px-2 align-items-start">
            <form action="{{ url_for('login') }}" method="get">
              <button type="submit" class="btn btn-outline-light mx-2">Log in</button>
            </form>
            <form class="" action="{{ url_for('signup') }}" method="get">
              <button type="submit" class="btn btn-outline-warning mx-2">Sign up</button>
            </form>
          </div>
        </div>
      </div>
      <div id='row2' class="row">
        <div class="col-6">
          <div class="container text-right">
            <h1 id="name">{{ course_id }}</h1>
          </div>
        </div>
        <div class="col-6 align-items-end m-0">
          <p class="align-bottom">{{ course_name }}</p>
        </div>
      </div>
      <div id='row3' class="row">
        <div class="col-6 text-right">
          <h3>
            {%for i in range(0, rating)%}
              <i class="fas fa-star"></i>
            {%endfor%}
            {%for i in range(0, (5 - rating))%}
              <i class="far fa-star"></i>
            {%endfor%}
          </h3>
          <h4>Based in {{ rating_count }} ratings.</h4>
        </div>
        <div class="col-6">
          <form action="{{ url_for('new_review') }}" method="get">
            <button  id="review_button" type="submit" class="btn btn-light">Write a review</button>
          </form>
        </div>
      </div>
      <div id='row4' class="row">
        <div class="col-6">
          <p class="align-bottom">Student Reviews</p>
        </div>
        <div class="col-6  text-right">
          <button type="button" class="btn ">Filter <i class="fas fa-filter"></i></button>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <ul>
    {%for post in posts%}
    <li>
      <div class="container review">
        <div class="row">
          <div class="col-8">
            <p class="review-professor"><span>Professor:</span>  {{ post['professor'] }}</p>
          </div>
          <div class="col text-right">
            <p class="review-date text-right"><span>{{ post['posted_date'] }}</span></p>
          </div>
        </div>
        <p class="review-tags"><span>For Credit:</span> {{ post['for_credit'] }} <span>Attendance:</span> {{ post['attendance'] }} <span>Textbook:</span> {{ post['textbook'] }}</p>
        <p class="review-body">{{ post['text'] }}</p>
        <div class="row">
          <div class="col-6">
            <button type="button" name="button" class="review-votes upvote mx-2"><i class="fas fa-arrow-up"></i>{{ post['upvotes'] }}</button>
            <button type="button" name="button" class="review-votes downvote mx-2"><i class="fas fa-arrow-down"></i>{{ post['downvotes'] }}</button>
          </div>
          <div class="col-6 text-right">
            <p class="text-right">
              {%for i in range(0, post['rating'])%}
                <i class="fas fa-star"></i>
              {%endfor%}
              {%for i in range(0, (5 - post['rating'] ))%}
                <i class="far fa-star"></i>
              {%endfor%}
            </p>
          </div>
        </div>
      </div>
    </li>
    {%endfor%}
  </ul>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
