<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="StyleSheet" href="../static/home.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <title>easyA</title>
</head>
<body onload="Check_Login()">

  <div id="buttons" class="d-flex log_in justify-content-end pt-2 px-2 align-items-start">
    <div class="btn-group">
      <button id="login_check1" type="button" class="btn btn-outline-warning mx-2 float-right" data-toggle="dropdown">{{ email }}</button>
      <div id="login_check1" class="dropdown-menu">
          <a class="dropdown-item" href="#">Password Change</a>
          <a class="dropdown-item"  onclick="window.location.href = './login';">Log Out</a>
      </div>
    </div>
    <button id="login_check2" onclick="window.location.href = './login';" type="button" class="btn btn-outline-light mx-2">Log in</button>
    <button id="login_check3" onclick="window.location.href = './signup';" type="button" class="btn btn-outline-warning mx-2">Sign up</button>
  </div>

  <div id="header" class="container text-center">
    <h1>easy<span id="a">A</span></h1>
    <p id="slogan">Made by Boilermakers for Boilermakers!</p>
  </div>
  <div id="cover">
    <form method="get" action="">
      <div class="tb">
        <div class="td"><input type="text" placeholder="Search" required></div>
        <div class="td" id="s-cover">
          <button id=submit_btn type="submit">
            <div id="s-circle"></div>
            <span></span>
          </button>
        </div>
      </div>
    </form>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script>
    function Check_Login()
    {
      var x=  document.getElementById("login_check1");
      var y= document.getElementById("login_check2");
      var z= document.getElementById("login_check3");
      var check="False";
      if(check.localeCompare(x.innerHTML)==0)
      x.style.display="none";
      else
      {
      y.style.display="none";
      z.style.display="none";
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
