<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="StyleSheet" href="../static/report.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6b9101bbf3.js" crossorigin="anonymous"></script>
  <title>Report - easyA</title>
</head>
<body>
  <!-- class="fixed-top" -->
  <div id="class-header" >
    <div class="d-flex justify-content-center">
      <a href="./" id="logo">easy<span>A</span></a>
    </div>
    <div class="container review">
        <div class="row">
            <div class="col-8">
                <p class="review-professor"><span>Author:</span> A Purdue Student</p>
            </div>
        </div>
        <div class="row">
          <div class="col-8">
            <p class="review-professor"><span>Professor:</span>  {{ post['professor'] }}</p>
          </div>
          <div class="col text-right">
            <p class="review-date text-right"><span>{{ post['posted_date'] }}</span></p>
          </div>
        </div>
        <p class="review-tags"> <span>Attendance:</span> {{ post['attendance'] }} <span>Textbook:</span> {{ post['textbook'] }} <span>Grade:</span> {{ post['grade'] }}</p>
        <p class="review-body">{{ post['text'] }}</p>
        <div class="row">
          <div class="col-6 text-right">
            <p class="text-right">
              {%for i in range(0, post['rating'])%}
                <i class="fas fa-star"></i>
              {%endfor%}
              {%for i in range(0, (5 - post['rating']))%}
                <i class="far fa-star"></i>
              {%endfor%}
            </p>
          </div>
        </div>
      </div>
    <hr>
  </div>

  <div id="new_report" class="container">
    <form action="{{ url_for('post_report') }}" method="POST">
        <input name="post_ID" type="hidden" value="{{ post_ID }}"></input>
      <div class="form-group">
        <textarea name="text" class="form-control" id="new_report_body" placeholder="Please tell us what is wrong." rows="10"></textarea>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" name="button" class="cancel-btn m-2">Cancel</button>
        <button type="submit" class="btn btn-warning m-2">Submit Reprt</button>
      </div>
    </form>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
