<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="StyleSheet" href="{{ url_for('static', filename='signup.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6b9101bbf3.js" crossorigin="anonymous"></script>
  <title>Sign Up - easyA</title>
</head>
<body>
  <!-- class="fixed-top" -->
  <div id="class-header" >
    <div class="d-flex justify-content-center">
      <a href="{{ url_for('index') }}" id="logo">easy<span>A</span></a>
    </div>
    <hr class="d-none d-md-block">
  </div>

  <div id="signup_form_div" class="container">
    <form id="signup_form" action="{{ url_for('signup') }}" onsubmit="return validateForm()" method="POST">
        <small id="emailHelp" class="pl-2">{{ errorMessage }}</small>
      <div class="form-group mb-4">
        <input id="u_email" name="u_email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <input id="u_password" name="u_password" type="password" class="form-control" id="pwd" placeholder="Password">
        <input id="u_password2" name="u_confirm_password" type="password" class="form-control" id="comfirm_pwd" placeholder="Comfirm password">
        <small id="pwdHelp" class="form-text text-muted pl-2"></small>
        <small class="form-text text-muted pl-2">Do not use the same password that you use for bank, Purdue or anything important.<br>We have no idea of cybersecurity ¯\_(ツ)_/¯</small>
      </div>
      <hr class="mt-4 d-md-block">
      <div id="log_in" class="d-flex justify-content-center text-center">
        <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
      </div>
      <div class="d-flex justify-content-end">
        <button id=signup_btn type="submit" class="btn btn-warning">Sign up</button>
      </div>
    </form>
  </div>



  <!-- Optional JavaScript -->
  <script src="{{ url_for('static', filename='signup.js') }}"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
